body {
  background-image: url(/images/bg-img.jpg);
  background-color: rgba(7, 20, 49, 0.897);
  margin: 0;
  height: fit-content;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.bg {
  background-attachment: fixed;
  backdrop-filter: blur(6px);
  background-position: center;
  position: fixed;
  display: flex;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -999999;
}

.topbar {
  top: 10px;
  background: #111111c0;
  backdrop-filter: blur(5px);
  width: 99%;
  height: 60px;
  display: flex;
  position: fixed;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  border-radius: 5vh;
}
.topbar h1 {
  color: #8b8484;
  margin: 2vw 3vw;
  text-shadow: 2px 2px 3px hsl(0, 92%, 28%);
  font-size: 26px;
}
a {
  color: #000;
  text-decoration: none;
}

.searchbar {
  width: 200px;
  height: 27px;
  margin-right: 2%;
  border-radius: 11px;
  outline: none;
  display: inline;
  background-color: #524d4d7c;
  color: #ffffff;
  padding: 10px;
  border: none;
}

.parent {
  padding-top: 400px;
  height: fit-content;
}
.row {
  margin-bottom: 100px;
}

.column {
  float: left;
  padding: 10px;
}

.card {
  background-color: #000000d8;
  border-radius: 19px;
  text-align: center;
  padding: 15px;
}
.tumbnail {
  width: 300px;
  height: 320px;
  border-radius: 19px;
}
.movie-title {
  color: #ffffff;
}